{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="{% static 'img/about.jpg' %}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Best Organic Fruits And Vegetables</h1>
                    <p class="mb-4">Organic fruits and vegetables are grown without the use of synthetic pesticides, fertilizers, genetically modified organisms (GMOs), or irradiation. They are cultivated using environmentally friendly methods that promote biodiversity, soil health, and ecological balance.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Free from genetically modified organisms</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Promotes ecological balance, biodiversity, and soil health.</p>
                    <p><i class="fa fa-check text-primary me-3"></i> Often have higher nutrient levels and fewer chemical residues.</p>
                    <p><i class="fa fa-check text-primary me-3"></i> Reduces pollution and conserves water and soil quality.</p>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Firm Visit Start -->
    
  <!-- Mission Section -->
  <section class="mission text-center">
    <div class="container">
      <h2 class="display-5">Our Mission</h2>
      <p class="lead">At FreshVeg Market, our mission is to provide our customers with the freshest and highest quality vegetables, sourced directly from local farmers. We are committed to promoting sustainable farming practices and supporting our community.</p>
    </div>
  </section>



    <!-- Feature Start -->
    <div class="container-fluid bg-light bg-icon py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Our Features</h1>
                <p>Sourced directly from local farms, our vegetables reach you at their peak of freshness.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-1.png' %}" alt="">
                        <h4 class="mb-3">Natural Process</h4>
                        <p class="mb-4">Experience the difference of vegetables grown with care and respect for nature. Taste the freshness and enjoy the benefits of our natural process.</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="">
                        <h4 class="mb-3">Organic Products</h4>
                        <p class="mb-4">Discover the purity and taste of nature with our organic vegetables. At Tarkari.com, we are dedicated to providing you with the highest quality produce, grown without compromise.</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-3.png' %}" alt="">
                        <h4 class="mb-3">Biologically Safe</h4>
                        <p class="mb-4">At Tarkari.com, your health and safety are our top priorities. Our commitment to biologically safe produce means you can trust that our vegetables are biologically safe.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
    <!-- Feature End -->


  