{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Cart</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


         <!-- Cart page Start -->
         
         <div class="container">
            <div class="page-cart">
                <div class="table-responsive">
                    <table class="cart-summary table table-bordered">
                        <thead>
                            <tr>
                                <th class="width-20">&nbsp;</th>
                                <th class="width-80 text-center">Image</th>
                                <th>Name</th>
                                <th class="width-100 text-center">Unit price</th>
                                <th class="width-100 text-center">Qty</th>
                                <th class="width-100 text-center">Total</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="product-detail-left-sidebar.html">
                                        <img width="80" alt="Product Image" class="img-responsive" src="img/product-1.jpg">
                                    </a>
                                </td>
                                <td>
                                    <a href="product-detail-left-sidebar.html" class="product-name">Organic Strawberry Fruits</a>
                                </td>
                                <td class="text-center">
                                    Rs.60
                                </td>
                                <td>
                                    <div class="product-quantity">
                                        <div class="qty">
                                            <div class="input-group">
                                                <input type="number" name="qty" min="0.5" max="">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    Rs.60
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="product-remove">
                                    <a title="Remove this item" class="remove" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="product-detail-left-sidebar.html">
                                        <img width="80" alt="Product Image" class="img-responsive" src="img/product-3.jpg">
                                    </a>
                                </td>
                                <td>
                                    <a href="product-detail-left-sidebar.html" class="product-name">Organic Strawberry Fruits</a>
                                </td>
                                <td class="text-center">
                                    Rs.100
                                </td>
                                <td>
                                    <div class="product-quantity">
                                        <div class="qty">
                                            <div class="input-group">
                                                <input type="number" name="qty" min="0.5">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                   Rs.100
                                </td>
                            </tr>
                        </tbody>
                        
                        <tfoot>
                            <tr class="cart-total">
                                <td rowspan="3" colspan="3"></td>
                                <td colspan="2" class="text-right">Total products</td>
                                <td colspan="1" class="text-center">Rs.160</td>
                            </tr>
                            <tr class="cart-total">
                                <td colspan="2" class="text-right">Total shipping</td>
                                <td colspan="1" class="text-center">Rs.10</td>
                            </tr>
                            <tr class="cart-total">
                                <td colspan="2" class="total text-right">Total</td>
                                <td colspan="1" class="total text-center">Rs.170</td>
                            </tr>
                        </tfoot>   
                    </table>
                </div>
                
                <div class="checkout-btn">
                    <a href="product-checkout.html" class="btn btn-primary pull-right" title="Proceed to checkout">
                        <span>Proceed to checkout</span>
                        <i class="fa fa-angle-right ml-xs"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %} 



        <!-- Cart page End -->

  